body{
	text-align: center;
	font-family: verdana;
	background-image: url(imgs/teclado.jpg);
	background-size: cover;
	color: white;
}
h1{
	font-size: 100px;
	padding-top: 100px;
	text-shadow: 3px 2px 2px gray;
	margin-bottom: 20px;
}
h2{
	font-size: 50px;
	margin-top: 50px;
	margin-bottom: 50px;
	text-shadow: 3px 2px 2px gray;
}
p{
	font-size: 25px;
}
.email {text-decoration: none;
	background-color: rgba(204,0,0, 0.7);
	margin-top: 50px;
	margin-bottom: 50;
	color: white;
	font-size: 20px;
	padding: 10px 15px 10px 15px;
	border-radius: 5px;
	display:inline-block;
}
.email: hover{
	background-color: green;
}
.redes {
	list-style: none;
	padding-left: 0;
}
.redes: hover{
	background-color: blue;
}
.redes li {
	display: inline;
}
.redes a{
	color: white;
	font-size: 25px;
}
